<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>
<title><%= title %></title>

<body>

    <%- include('../partials/navbar.ejs') %>
    <div class="container mt-5">
        <h3>Wellcome to your Dashboard <%= userName %></h3>
        <div class="form-group">
            <form action="/uploadAvatar" method="post" enctype="multipart/form-data">
                <img class="avatar" src="/images/<%= avatar %>" alt="avatar">
                <input type="file" name="avatar" class="form-control-file avatar-input" id="exampleInputFile"
                    aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Plaese select your desired avatar.</small>
                <input type="submit" value="Upload avatar" class="btn btn-success submit-avatar">
            </form>
        </div>
        <%- include('../partials/messages.ejs') %>
        <div>
            <td>
                <a href="/dashboard/edit" type="button" class="btn btn-success">Edit Profile</a>
                <a href="/users/logout" type="button" class="btn btn-danger">Log Out</a>
            </td>
        </div>
        <form action="/urlgen/shorturl" method="POST">
            <fieldset>
                <legend>Url Shortener</legend>
                <div class="form-group">
                    <label for="url">Url</label>
                    <input type="text" class="form-control" id="url" placeholder="Place Your Url" name="url">
                </div>
                <div class="form-group">
                    <label for="suggestion">Suggestion</label>
                    <input type="text" class="form-control" id="suggestion"
                        placeholder="Say your prefered words for shortening" name="suggestion"
                        value="<%= typeof suggestion != 'undefined' ? suggestion: '' %>">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>

    <%- include('../partials/scripts.ejs') %>

</body>

</html>