<!DOCTYPE html>
<html>

<%- include('../partials/header.ejs') %>
<title><%= title %></title>

<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
        <h1><%= title %></h1>
        <div class="row">
            <% for (let i = 0; i < articles.length; i++) { %>
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header"><%= articles[i].author %></div>
                <div class="card-body">
                    <h4 class="card-title"><%= articles[i].title %></h4>
                    <p class="card-text"><%= articles[i].content %></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <%- include('../partials/scripts.ejs') %>
</body>

</html>