<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header.ejs') %>
  <title><%= title %></title>
</head>

<body>
  <%- include('../partials/navbar.ejs') %>

  <div class="container mt-5">
    <div class="col-md-6 m-auto">
      <form action="/dashboard/edit" method="POST">
        <fieldset>
          <legend>Edit Form</legend>
          <%- include('../partials/messages.ejs') %>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName"
              value="<%= firstName %>">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName"
              value="<%= lastName %>">
          </div>
          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="userName" placeholder="User Name" name="userName"
              value="<%= userName %>">
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" name="gender">
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="e.g. 09*********" name="phoneNumber"
              value="<%= phoneNumber %>">
          </div>
          <div class="form-group">
            <label for="bio">Bio</label>
            <textarea class="form-control" id="bio" placeholder="Tell a little about yourself" rows="3" name="bio"
              value="<%= bio %>"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </fieldset>
      </form>
    </div>
  </div>

  <%- include('../partials/scripts.ejs') %>
</body>

</html>