<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container mt-5">
        <div class="col-md-6 m-auto">
            <fieldset>
                <legend>Generated URL</legend>
                <div class="form-group">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Title</th>
                                <th scope="col">Content</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-active">
                                <th scope="row">Long URL</th>
                                <td><%= longUrl %></td>
                            </tr>
                            <tr class="table-active">
                                <th scope="row">Short URL</th>
                                <td><%= shortUrl %></td>
                            </tr>
                            <tr class="table-active">
                                <th scope="row">URL Code</th>
                                <td><%= urlCode %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>

    <%- include('../partials/scripts.ejs') %>
</body>

</html>